{% extends 'Admin/base.html.twig' %}

{% block body %}

    <div id="huro-app" class="app-wrapper">
        <div class="app-overlay"></div>
        <div class="pageloader is-full"></div>
        <div class="infraloader is-full is-active"></div>

        <nav class="navbar mobile-navbar no-shadow is-hidden-desktop is-hidden-tablet" aria-label="main navigation">
            <div class="container">
                <div class="navbar-brand">
                    <div class="brand-start">
                        <div class="navbar-burger">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>

                    <a class="navbar-item is-brand" href="{{ path('app_admin_dashboard') }}">
                        <img class="light-image" src="/assets/img/logos/logo/logo.svg" alt="">
                        <img class="dark-image" src="/assets/img/logos/logo/logo-light.svg" alt="">
                    </a>
                </div>
            </div>
        </nav>

        <div class="mobile-main-sidebar">
            <div class="inner">
                {{ knp_menu_render('admin_main_mobile_sidebar', {'template': 'Admin/menu/mobile_main_sidebar.html.twig', 'depth': 1, 'currentClass': 'is-active', 'branch_class': 'has-children'}) }}
            </div>
        </div>

        <div id="sidebar-block" class="sidebar-block is-colored">
            <div class="sidebar-block-header">
                <a class="sidebar-block-logo" href="{{ path('app_admin_dashboard') }}">
                    <img class="light-image" src="/assets/img/logos/logo/logo.svg" alt="" />
                    <img class="dark-image" src="/assets/img/logos/logo/logo-light.svg" alt="" />
                </a>
                <h3>Live Grid</h3>
            </div>
            <div class="sidebar-block-inner" data-simplebar>
                {{ knp_menu_render('admin_sidebar', {'template': 'Admin/menu/sidebar.html.twig', 'ancestorClass': 'active', 'currentClass': 'is-active', 'branch_class': 'has-children'}) }}
            </div>
        </div>

        <div class="mobile-subsidebar">
            <div class="inner">
                {{ knp_menu_render('admin_mobile_sub_sidebar', {'template': 'Admin/menu/mobile_sub_sidebar.html.twig', 'currentClass': null, 'branch_class': 'has-children'}) }}
            </div>
        </div>

        <div class="view-wrapper view-wrapper-full" data-mobile-item="#home-sidebar-menu-mobile" data-sidebar-open>

            <div class="page-content-wrapper">
                <div class="page-content is-relative">

                    <div class="page-title has-text-centered">
                        <div class="huro-hamburger nav-trigger push-block" data-sidebar="sidebar-block">
                            <span class="menu-toggle has-chevron">
                              <span class="icon-box-toggle">
                                  <span class="rotate">
                                      <i class="icon-line-top"></i>
                                      <i class="icon-line-center"></i>
                                      <i class="icon-line-bottom"></i>
                                  </span>
                            </span>
                            </span>
                        </div>

                        <div class="title-wrap">
                            <h1 class="title is-4">{% block menu_title %}{% endblock %}</h1>
                        </div>
                    </div>

                    <div class="page-content-inner">
                        {% block page_content %}{% endblock %}
                    </div>

                </div>
            </div>

        </div>

    </div>
{% endblock %}
