{% extends 'Admin/default.html.twig' %}

{% set header = configuration.vars.header|default(metadata.applicationName~'.ui.'~metadata.pluralName) %}

{% block title %}{{ header|trans }} {{ parent() }}{% endblock %}

{% block menu_title %}{{ header|trans }}{% endblock %}

{% block page_content %}
    {% include configuration.vars.templates.breadcrumb|default('Admin/Crud/Index/_breadcrumb.html.twig') %}
    {#{% include configuration.vars.templates.header_title|default('Admin/Crud/Index/_headerTitle.html.twig') %}#}

    <div class="columns">
        <div class="column is-12">
            {{ component('admin:user_list') }}

            {{ component('admin:user_list') }}

        </div>
    </div>
{% endblock %}
